package components

templ Navigation() {
	<nav>
		<div hx-boost="true" hx-include="[name='bustCache']" hx-swap="innerHTML" hx-target=".snowframe">
			<a hx-push-url="/" href="/" style="all: unset; display: inline-block; cursor: pointer;">
				<p>jira sucks </p>
			</a>
		</div>
	</nav>
}
